.states
# --- Configuración / Entorno ---
# --- Docker ---
# --- IDE / Editor ---
# --- Logs ---
# --- Python ---
# --- Reflex ---
# --- Sistema operativo ---
# Assets externos que no quieres commitear
# Entornos virtuales
*.db
*.egg-info/
*.env.*.local
*.env.local
*.log
*.py[cod]
*.pyd
*.pyo
*.so
*.swo
*.swp
.hypothesis/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.DS_Store
.env
.idea/
.reflex/
.venv/
.venv_docker/
.vscode/
.web
.web/
ENV/
Thumbs.db
__pycache__/
assets/external/
backend.zip
build/
dist/
docker-compose.override.yml
env/
frontend/
frontend.zip
public/
venv/
